# About
This notebook contains a first simple ML model

In [1]:
# Necessary to import custom modules
import os
os.chdir("/home/jovyan/work")

from neomodel import db
import pandas as pd

from src.utils import init_connection

In [2]:
init_connection()

In [3]:
cypher = """
MATCH 
    (t:Team)-[:SCORED]->(s:Score)-[:IN_GAME]->(g:Game)<-[:IN_GAME]-(s2:Score)<-[:SCORED]-(t2:Team), (sea:Season), (arena_game:Arena), (arena_t:Arena)
WHERE 
    (g)-[:TOOK_PLACE_IN]->(sea)
AND
	(g)-[:LOCATED_IN]->(arena_game)
AND
	(t)-[:HAVE_HOME_COURT_AT]->(arena_t)
RETURN 
    t.name as team, 
    sum(
    	CASE WHEN s.score < s2.score 
        AND g.game_type = "regular_season" 
        AND arena_game.name = arena_t.name
        THEN 1 ELSE 0 END) 
    as wins_reg_home,
    sum(
    	CASE WHEN s.score < s2.score 
        AND g.game_type = "regular_season" 
        AND arena_game.name <> arena_t.name
        THEN 1 ELSE 0 END) 
    as wins_reg_away,
    sum(
    	CASE WHEN s.score > s2.score 
        AND g.game_type = "regular_season" 
        AND arena_game.name = arena_t.name
        THEN 1 ELSE 0 END) 
    as losses_reg_home,
    sum(
    	CASE WHEN s.score > s2.score
        AND g.game_type = "regular_season" 
        AND arena_game.name <> arena_t.name
        THEN 1 ELSE 0 END) as losses_reg_away,
	sea.name as season
ORDER BY 
    team, season
"""

In [4]:
data, columns = db.cypher_query(cypher)

In [5]:
df_results = pd.DataFrame(data=data, columns=columns)

In [6]:
df_test = df_results.pivot(index="team", columns="season")

In [7]:
cols = []
for a, b in zip(df_test.columns.get_level_values(0), df_test.columns.get_level_values(1)):
    cols.append(a+"_"+b)

In [8]:
cols

['wins_reg_home_2015/2016',
 'wins_reg_home_2016/2017',
 'wins_reg_home_2017/2018',
 'wins_reg_away_2015/2016',
 'wins_reg_away_2016/2017',
 'wins_reg_away_2017/2018',
 'losses_reg_home_2015/2016',
 'losses_reg_home_2016/2017',
 'losses_reg_home_2017/2018',
 'losses_reg_away_2015/2016',
 'losses_reg_away_2016/2017',
 'losses_reg_away_2017/2018']

In [9]:
df_test.columns = cols

In [10]:
df_test

,wins_reg_home_2015/2016,wins_reg_home_2016/2017,wins_reg_home_2017/2018,wins_reg_away_2015/2016,wins_reg_away_2016/2017,wins_reg_away_2017/2018,losses_reg_home_2015/2016,losses_reg_home_2016/2017,losses_reg_home_2017/2018,losses_reg_away_2015/2016,losses_reg_away_2016/2017,losses_reg_away_2017/2018
team,,,,,,,,,,,,
Atlanta Hawks,27,23,16,21,20,8,14,18,25,20,21,33
Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
Brooklyn Nets,14,13,15,7,7,13,27,28,26,34,34,28
Charlotte Hornets,30,22,21,18,14,15,11,19,20,23,27,26
Chicago Bulls,26,25,17,16,16,10,15,16,24,25,25,31
Cleveland Cavaliers,33,31,29,24,20,21,8,10,12,17,21,20
Dallas Mavericks,23,21,15,19,12,9,18,20,26,22,29,32
Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
Detroit Pistons,26,24,25,18,13,14,15,17,16,23,28,27
Golden State Warriors,39,36,29,34,31,29,2,5,12,7,10,12
Houston Rockets,23,30,34,18,25,31,18,11,7,23,16,10
Indiana Pacers,26,29,27,19,13,21,15,12,14,22,28,20
Los Angeles Clippers,31,30,24,22,21,18,12,13,19,17,18,21
Los Angeles Lakers,12,17,21,5,9,14,31,26,22,34,30,25
Memphis Grizzlies,26,24,16,16,19,6,15,17,25,25,22,35
Miami Heat,28,23,26,20,18,18,13,18,15,21,23,23
Milwaukee Bucks,23,23,25,10,19,19,18,18,16,31,22,22
Minnesota Timberwolves,14,20,30,15,11,17,27,21,11,26,30,24
New Orleans Pelicans,21,21,24,9,13,24,20,20,17,32,28,17
New York Knicks,18,19,19,14,12,10,23,22,22,27,29,31
Oklahoma City Thunder,32,28,27,23,19,21,9,13,14,18,22,20
Orlando Magic,23,16,17,12,13,8,18,25,24,29,28,33
Philadelphia 76ers,7,17,30,3,11,22,34,24,11,38,30,19
Phoenix Suns,14,15,10,9,9,11,27,26,31,32,32,30
Portland Trail Blazers,28,25,28,16,16,21,13,16,13,25,25,20
Sacramento Kings,18,17,14,15,15,13,23,24,27,26,26,28
San Antonio Spurs,40,31,33,27,30,14,1,10,8,14,11,27
Toronto Raptors,32,28,34,24,23,25,9,13,7,17,18,16
Utah Jazz,24,29,28,16,22,20,17,12,13,25,19,21
Washington Wizards,22,30,23,19,19,20,19,11,18,22,22,21

#### Extract Matchup

```
MATCH 
	(t:Team)-[:SCORED]->(s:Score)-[:IN_GAME]->(g:Game)<-[:IN_GAME]-(s2:Score)<-[:SCORED]-(t2:Team), (sea:Season)
WHERE 
    (g)-[:TOOK_PLACE_IN]->(sea)
AND
	sea.name = "2017/2018"
AND
	g.game_type = "regular_season"
WITH g, collect(t.name) as teams, collect(s.score) as scores
RETURN
	HEAD(teams) as teamA, HEAD(TAIL(scores)) as scoreA, HEAD(TAIL(teams)) as teamB, HEAD(scores) as scoreB
```

In [11]:
cypher = """
MATCH 
	(t:Team)-[:SCORED]->(s:Score)-[:IN_GAME]->(g:Game)<-[:IN_GAME]-(s2:Score)<-[:SCORED]-(t2:Team), (sea:Season)
WHERE 
    (g)-[:TOOK_PLACE_IN]->(sea)
AND
	sea.name = "2017/2018"
AND
	g.game_type = "regular_season"
WITH g, collect(t.name) as teams, collect(s.score) as scores
RETURN
	HEAD(teams) as teamA, HEAD(TAIL(scores)) as scoreA, HEAD(TAIL(teams)) as teamB, HEAD(scores) as scoreB
"""

In [12]:
data, cols = db.cypher_query(cypher)

In [13]:
df_matches = pd.DataFrame(data=data, columns=cols)

In [14]:
df_matches["teamAWinner"] =df_matches["scoreA"] > df_matches["scoreB"]

In [15]:
df_test.head().reset_index()

,team,wins_reg_home_2015/2016,wins_reg_home_2016/2017,wins_reg_home_2017/2018,wins_reg_away_2015/2016,wins_reg_away_2016/2017,wins_reg_away_2017/2018,losses_reg_home_2015/2016,losses_reg_home_2016/2017,losses_reg_home_2017/2018,losses_reg_away_2015/2016,losses_reg_away_2016/2017,losses_reg_away_2017/2018
0,Atlanta Hawks,27,23,16,21,20,8,14,18,25,20,21,33
1,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
2,Brooklyn Nets,14,13,15,7,7,13,27,28,26,34,34,28
3,Charlotte Hornets,30,22,21,18,14,15,11,19,20,23,27,26
4,Chicago Bulls,26,25,17,16,16,10,15,16,24,25,25,31

In [16]:
df_matches.head()

                   teamA  scoreA               teamB  scoreB teamAWinner
0         Boston Celtics      80  Philadelphia 76ers      89       False
1      Charlotte Hornets     111     Toronto Raptors     129       False
2        Toronto Raptors      96     Detroit Pistons      91        True
3        Milwaukee Bucks     110     Toronto Raptors     129       False
4  Oklahoma City Thunder     105          Miami Heat      99        True

In [17]:
pd.merge(df_matches, df_test.reset_index(), left_on="teamA", right_on="team")

,teamA,scoreA,teamB,scoreB,teamAWinner,team,wins_reg_home_2015/2016,wins_reg_home_2016/2017,wins_reg_home_2017/2018,wins_reg_away_2015/2016,wins_reg_away_2016/2017,wins_reg_away_2017/2018,losses_reg_home_2015/2016,losses_reg_home_2016/2017,losses_reg_home_2017/2018,losses_reg_away_2015/2016,losses_reg_away_2016/2017,losses_reg_away_2017/2018
0,Boston Celtics,80,Philadelphia 76ers,89,False,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
1,Boston Celtics,102,Cleveland Cavaliers,88,True,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
2,Boston Celtics,97,Indiana Pacers,99,False,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
3,Boston Celtics,134,Charlotte Hornets,106,True,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
4,Boston Celtics,89,Miami Heat,90,False,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
5,Boston Celtics,108,San Antonio Spurs,94,True,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
6,Boston Celtics,113,Sacramento Kings,86,True,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
7,Boston Celtics,113,New Orleans Pelicans,116,False,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
8,Boston Celtics,108,Brooklyn Nets,105,True,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
9,Boston Celtics,108,Detroit Pistons,118,False,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
10,Boston Celtics,110,Toronto Raptors,99,True,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
11,Boston Celtics,119,Atlanta Hawks,110,True,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
12,Boston Celtics,99,Houston Rockets,98,True,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
13,Boston Celtics,91,Indiana Pacers,97,False,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
14,Boston Celtics,90,Charlotte Hornets,87,True,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
15,Boston Celtics,118,Orlando Magic,103,True,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
16,Boston Celtics,100,Oklahoma City Thunder,99,True,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
17,Boston Celtics,103,New York Knicks,73,True,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
18,Boston Celtics,111,Chicago Bulls,104,True,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
19,Boston Celtics,119,Los Angeles Clippers,129,False,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
20,Boston Celtics,97,Portland Trail Blazers,96,True,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
21,Boston Celtics,103,Washington Wizards,111,False,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
22,Boston Celtics,95,Utah Jazz,107,False,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
23,Boston Celtics,95,Orlando Magic,103,False,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
24,Boston Celtics,92,Golden State Warriors,88,True,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
25,Boston Celtics,106,Atlanta Hawks,112,False,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
26,Boston Celtics,110,New York Knicks,89,True,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
27,Boston Celtics,116,Phoenix Suns,111,True,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
28,Boston Celtics,91,Minnesota Timberwolves,84,True,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
29,Boston Celtics,95,Toronto Raptors,94,True,Boston Celtics,28,30,27,20,23,28,13,11,14,21,18,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,Denver Nuggets,108,Golden State Warriors,127,False,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1201,Denver Nuggets,108,Cleveland Cavaliers,113,False,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1202,Denver Nuggets,102,Oklahoma City Thunder,94,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1203,Denver Nuggets,122,San Antonio Spurs,119,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1204,Denver Nuggets,87,Memphis Grizzlies,78,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1205,Denver Nuggets,125,Los Angeles Lakers,116,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1206,Denver Nuggets,127,Oklahoma City Thunder,124,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1207,Denver Nuggets,117,San Antonio Spurs,109,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1208,Denver Nuggets,111,Chicago Bulls,110,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1209,Denver Nuggets,105,Dallas Mavericks,102,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1210,Denver Nuggets,146,New Orleans Pelicans,114,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1211,Denver Nuggets,100,Minnesota Timberwolves,96,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1212,Denver Nuggets,120,Los Angeles Clippers,122,False,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1213,Denver Nuggets,129,Toronto Raptors,111,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1214,Denver Nuggets,130,New York Knicks,118,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1215,Denver Nuggets,96,Sacramento Kings,79,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1216,Denver Nuggets,130,Sacramento Kings,104,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1217,Denver Nuggets,104,Washington Wizards,109,False,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1218,Denver Nuggets,104,Minnesota Timberwolves,112,False,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1219,Denver Nuggets,91,Dallas Mavericks,89,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1220,Denver Nuggets,134,Phoenix Suns,111,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1221,Denver Nuggets,128,Milwaukee Bucks,125,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1222,Denver Nuggets,115,Golden State Warriors,108,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1223,Denver Nuggets,97,Atlanta Hawks,110,False,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1224,Denver Nuggets,88,Portland Trail Blazers,82,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1225,Denver Nuggets,104,Portland Trail Blazers,101,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1226,Denver Nuggets,100,Phoenix Suns,108,False,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1227,Denver Nuggets,99,Utah Jazz,91,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1228,Denver Nuggets,102,Philadelphia 76ers,107,False,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26
1229,Denver Nuggets,120,Detroit Pistons,113,True,Denver Nuggets,18,22,31,15,18,15,23,19,10,26,23,26

In [19]:
df_ml = pd.merge(
    pd.merge(df_matches, df_test.reset_index(), left_on="teamA", right_on="team"),
    df_test.reset_index(), 
    left_on="teamB", 
    right_on="team",
    suffixes=["_A", "_B"]
).drop(
    ["scoreA", "scoreB", "teamA", "teamB", "team_A", "team_B", "wins_reg_home_2017/2018_A", "wins_reg_away_2017/2018_A", "wins_reg_home_2017/2018_B", "wins_reg_away_2017/2018_B", "losses_reg_home_2017/2018_A", "losses_reg_away_2017/2018_A", "losses_reg_home_2017/2018_B", "losses_reg_away_2017/2018_B"], 
    axis=1)

In [20]:
df_ml.head()

,teamAWinner,wins_reg_home_2015/2016_A,wins_reg_home_2016/2017_A,wins_reg_away_2015/2016_A,wins_reg_away_2016/2017_A,losses_reg_home_2015/2016_A,losses_reg_home_2016/2017_A,losses_reg_away_2015/2016_A,losses_reg_away_2016/2017_A,wins_reg_home_2015/2016_B,wins_reg_home_2016/2017_B,wins_reg_away_2015/2016_B,wins_reg_away_2016/2017_B,losses_reg_home_2015/2016_B,losses_reg_home_2016/2017_B,losses_reg_away_2015/2016_B,losses_reg_away_2016/2017_B
0,False,28,30,20,23,13,11,21,18,7,17,3,11,34,24,38,30
1,True,28,30,20,23,13,11,21,18,7,17,3,11,34,24,38,30
2,False,30,22,18,14,11,19,23,27,7,17,3,11,34,24,38,30
3,False,30,22,18,14,11,19,23,27,7,17,3,11,34,24,38,30
4,True,32,28,24,23,9,13,17,18,7,17,3,11,34,24,38,30

In [21]:
from sklearn.linear_model import LogisticRegression

In [22]:
lr = LogisticRegression()

In [23]:
from sklearn.model_selection import train_test_split

In [33]:
X_train, X_test, y_train, y_test = train_test_split(
    df_ml.drop("teamAWinner", axis=1), 
    df_ml["teamAWinner"]
)

lr.fit(X_train, y_train)

lr.score(X_test, y_test)

0.64610389610389607

# Average Win Margin per Team

## Validierung der eigentlichen Cypher-Query

In [61]:
cypher = """
MATCH 
	(t:Team)-[:SCORED]->(s:Score)-[:IN_GAME]->(g:Game)<-[:IN_GAME]-(s2:Score)<-[:SCORED]-(t2:Team), (sea:Season)
WHERE 
    (g)-[:TOOK_PLACE_IN]->(sea)
AND
	sea.name = "2017/2018"
AND
	g.game_type = "regular_season"
WITH g, collect(t.name) as teams, collect(s.score) as scores
RETURN
	HEAD(teams) as teamA, HEAD(TAIL(scores)) as scoreA, HEAD(TAIL(teams)) as teamB, HEAD(scores) as scoreB
"""

In [62]:
data, cols = db.cypher_query(cypher)

In [63]:
df_matches = pd.DataFrame(data=data, columns=cols)

In [64]:
df_matches.head()

                   teamA  scoreA               teamB  scoreB
0         Boston Celtics      80  Philadelphia 76ers      89
1      Charlotte Hornets     111     Toronto Raptors     129
2        Toronto Raptors      96     Detroit Pistons      91
3        Milwaukee Bucks     110     Toronto Raptors     129
4  Oklahoma City Thunder     105          Miami Heat      99

In [65]:
df_matches2 = df_matches

In [66]:
df_matches2["scoreMargin"] = abs(df_matches2["scoreA"]-df_matches2["scoreB"])

In [67]:
df_matches2.head()

                   teamA  scoreA               teamB  scoreB  scoreMargin
0         Boston Celtics      80  Philadelphia 76ers      89            9
1      Charlotte Hornets     111     Toronto Raptors     129           18
2        Toronto Raptors      96     Detroit Pistons      91            5
3        Milwaukee Bucks     110     Toronto Raptors     129           19
4  Oklahoma City Thunder     105          Miami Heat      99            6

In [68]:
a = ["Golden State Warriors"]

In [75]:
df_onlyBOSmatches = df_matches2[(df_matches2['teamA'].isin(a)) | (df_matches2['teamB'].isin(a)) ]

In [76]:
df_onlyBOSmatches["scoreMargin"].mean()

13.804878048780488

## Actual Cypher Query

In [34]:
cypher = """
MATCH 
    (t:Team)-[:SCORED]->(s:Score)-[:IN_GAME]->(g:Game)<-[:IN_GAME]-(s2:Score)<-[:SCORED]-(t2:Team), (sea:Season)
WHERE 
    (g)-[:TOOK_PLACE_IN]->(sea)
AND
	g.game_type= "regular_season"
RETURN 
    t.name as team, 
    avg(abs(s.score - s2.score)) as scoreMargin,
    sea.name as season
ORDER BY 
    team, season

"""

In [35]:
data, cols = db.cypher_query(cypher)

In [36]:
df_scoreMargin = pd.DataFrame(data=data, columns=cols)

In [37]:
df_scoreMargin.head()

             team  scoreMargin     season
0   Atlanta Hawks    11.634146  2015/2016
1   Atlanta Hawks    11.170732  2016/2017
2   Atlanta Hawks    10.865854  2017/2018
3  Boston Celtics    10.695122  2015/2016
4  Boston Celtics     9.195122  2016/2017

In [38]:
df_scoreMargin_test = df_scoreMargin.pivot(index="team", columns="season")

In [39]:
df_scoreMargin_test.head()

                  scoreMargin
season              2015/2016  2016/2017  2017/2018
team
Atlanta Hawks       11.634146  11.170732  10.865854
Boston Celtics      10.695122   9.195122   9.219512
Brooklyn Nets       10.743902  12.195122  10.231707
Charlotte Hornets   11.134146  10.195122  11.768293
Chicago Bulls        9.865854  12.036585  12.231707

In [40]:
cols = []
for a, b in zip(df_scoreMargin_test.columns.get_level_values(0), df_scoreMargin_test.columns.get_level_values(1)):
    cols.append(a+"_"+b)

In [41]:
cols

['scoreMargin_2015/2016', 'scoreMargin_2016/2017', 'scoreMargin_2017/2018']

In [42]:
df_scoreMargin_test.columns = cols

In [43]:
df_scoreMargin_test.head()

,scoreMargin_2015/2016,scoreMargin_2016/2017,scoreMargin_2017/2018
team,,,
Atlanta Hawks,11.634146,11.170732,10.865854
Boston Celtics,10.695122,9.195122,9.219512
Brooklyn Nets,10.743902,12.195122,10.231707
Charlotte Hornets,11.134146,10.195122,11.768293
Chicago Bulls,9.865854,12.036585,12.231707

In [44]:
df_ml_1 = pd.merge(
    pd.merge(df_matches, df_test.reset_index(), left_on="teamA", right_on="team"),
    df_test.reset_index(), 
    left_on="teamB", 
    right_on="team",
    suffixes=["_A", "_B"]
)

In [45]:
df_ml_2 = pd.merge(
    pd.merge(df_ml_1, df_scoreMargin_test.reset_index(), left_on="teamA", right_on="team"),
    df_scoreMargin_test.reset_index(), 
    left_on="teamB", 
    right_on="team",
    suffixes=["_A", "_B"]
).drop(
    ["scoreA", "scoreB", "teamA", "teamB", "team_A", "team_B", "wins_reg_2017/2018_A", "losses_reg_2017/2018_A", "wins_reg_2017/2018_B", "losses_reg_2017/2018_B", "scoreMargin_2017/2018_A", "scoreMargin_2017/2018_B" ], 
    axis=1)

In [46]:
df_ml_2.head()

,teamAWinner,wins_reg_home_2015/2016_A,wins_reg_home_2016/2017_A,wins_reg_home_2017/2018_A,wins_reg_away_2015/2016_A,wins_reg_away_2016/2017_A,wins_reg_away_2017/2018_A,losses_reg_home_2015/2016_A,losses_reg_home_2016/2017_A,losses_reg_home_2017/2018_A,...,losses_reg_home_2015/2016_B,losses_reg_home_2016/2017_B,losses_reg_home_2017/2018_B,losses_reg_away_2015/2016_B,losses_reg_away_2016/2017_B,losses_reg_away_2017/2018_B,scoreMargin_2015/2016_A,scoreMargin_2016/2017_A,scoreMargin_2015/2016_B,scoreMargin_2016/2017_B
0,False,28,30,27,20,23,28,13,11,14,...,34,24,11,38,30,19,10.695122,9.195122,12.743902,10.865854
1,True,28,30,27,20,23,28,13,11,14,...,34,24,11,38,30,19,10.695122,9.195122,12.743902,10.865854
2,False,30,22,21,18,14,15,11,19,20,...,34,24,11,38,30,19,11.134146,10.195122,12.743902,10.865854
3,False,30,22,21,18,14,15,11,19,20,...,34,24,11,38,30,19,11.134146,10.195122,12.743902,10.865854
4,True,32,28,34,24,23,25,9,13,7,...,34,24,11,38,30,19,9.914634,10.548780,12.743902,10.865854

In [47]:
from sklearn.linear_model import LogisticRegression

In [48]:
lr = LogisticRegression()

In [49]:
from sklearn.model_selection import train_test_split

In [54]:
X_train, X_test, y_train, y_test = train_test_split(
    df_ml_2.drop("teamAWinner", axis=1), 
    df_ml_2["teamAWinner"]
)

lr.fit(X_train, y_train)

lr.score(X_test, y_test)

0.65259740259740262

In [55]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)

In [59]:
X_train, X_test, y_train, y_test = train_test_split(
    df_ml_2.drop("teamAWinner", axis=1), 
    df_ml_2["teamAWinner"]
)
clf.fit(X_train, y_train) 
clf.score(X_test, y_test)

0.58766233766233766